@charset "UTF-8";

hr {
	border: solid 1px navy;
}

#loginBox {
	width: 400px;
	height: 400px;
	margin: 50px auto;
	font-size: 20px;
	background-color: lightgray;
	padding: 5px 20px;
	text-align: center;
}

input {
	font-size: 20px;
	height: 40px;
	width: 300px;
	margin: 10px 0px;
	padding-left: 10px;
}

#logoutBtn, #mypageBtn{
	font-size: 20px;
	height: 70px;
	width: 250px;
	background-color: navy;
	color: white;
	border: 0;
	margin-top: 40px;
}

.b1{
	font-size: 15px;
	height: 50px;
	width: 140px;
	border: none;
	background-color: #5b81ba;
	color: white;
	margin: 10px;
	float:left;
}

a {
	text-decoration: none;
	font-size: 15px;
	margin-top: 15px;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.column1 {
  float: left;
  width: 60%;
}
.column2 {
  float: left;
  width: 40%;
  padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.i1{
margin: 20px;
width:800px;
height:500px;
}
