@charset "UTF-8";

hr {
	border: solid 1px navy;
}

#listBox {
	width: 700px;
	height: auto;
	margin: 50px auto;
	font-size: 20px;
	background-color: lightgray;
	padding: 5px 50px;
	padding-bottom: 50px;
	text-align: center;
}

table, td {
	border-collapse: collapse;
	border: solid 1px navy;
	background-color: white;
	padding: 5px 0px;
}

th {
	border-collapse: collapse;
	border: solid 1px white;
	background-color: navy;
	color: white;
	padding: 10px 0px;
}

input {
	font-size: 17px;
	height: 40px;
	width: 70%;
	margin: 10px 0px;
	padding-left: 10px;
}

.qnaBtnStyle {
	font-size: 15px;
	height: 30px;
	width: 60px;
	background-color: navy;
	color: white;
	border: 0;
}